#outer-div {
    border: 2px solid black;
    /* it is relative parent of the absolute child div2 */
    position: relative;
}

#div1 {
    height: 200px;
    width: 200px;
    background-color: #393a7b;
}


/* relative and absolute position */


/* #div2 {
    height: 200px;
    width: 200px;
    background-color: orange;
    /* position: relative;
    left: 20px;
    top: 20px; */


/* abselute position means posi with respect to the first parent element the outer div ---->the parent it's value should be set to relative then
 it's valur should be relative; */


/* if the parent is not mentioned it will be body */


/* position: absolute;
left: 20px;
top: 20px;

} */

#div2 {
    height: 200px;
    width: 200px;
    background-color: orange;
    /* position: fixed;
    left: 20px;
    top: 20px; */
    /* it fixes with the viewport */
    position: sticky;
    left: 20px;
    top: 20px;
}

#div3 {
    height: 200px;
    width: 200px;
    background-color: maroon;
}