section {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( 50deg, #2857a4 0%, #403066 74%);
    color: white;
    align-items: center;
    font-family: sans-serif;
    font-size: 1rem;
}

#name-of-section {
    height: 100px;
    text-align: center;
    font-size: 45px;
    margin: 40px;
}

#contact-form {
    display: flex;
    padding: 0px 50px;
    margin: 0px 50px;
}

.element {
    margin: 0 80px;
    margin-bottom: 20px;
}

#contact-form-fill {
    margin-top: 24px;
}

input {
    width: 100%
}

input,
textarea {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 25px;
    width: 100%;
    /* margin-top: 8px; */
    font-size: 1em;
    line-height: 2rem;
}

button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 8px;
    margin-left: 25%;
}

#get-in-touch-contain {
    width: 50%;
}

.heading {
    font-weight: 800;
    letter-spacing: 0.05rem;
}